PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/System.Composition.TypedParts.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/System.Composition.Runtime.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/System.Composition.Hosting.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/System.Composition.Convention.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/System.Composition.AttributedModel.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/System.CodeDom.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Swashbuckle.AspNetCore.Swagger.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/SQLitePCLRaw.provider.e_sqlite3.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/SQLitePCLRaw.core.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/SQLitePCLRaw.batteries_v2.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/win-x86/native/e_sqlite3.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/win-x64/native/e_sqlite3.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/win-arm64/native/e_sqlite3.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/win-arm/native/e_sqlite3.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/osx-x64/native/libe_sqlite3.dylib
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-x86/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-x64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-s390x/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-riscv64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-musl-s390x/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-musl-riscv64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-mips64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-armel/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-arm64/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/linux-arm/native/libe_sqlite3.so
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/runtimes/browser-wasm/nativeassets/net9.0/e_sqlite3.a
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.staticwebassets.runtime.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.staticwebassets.endpoints.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.runtimeconfig.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.pdb
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.exe
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/PersonalFinance.Api.deps.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Newtonsoft.Json.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Mono.TextTemplating.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.OpenApi.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Sqlite.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.Data.Sqlite.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.Build.Framework.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/Humanizer.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/zh-Hant/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/zh-Hans/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/tr/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/System.CommandLine.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/System.Collections.Immutable.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/ru/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/pt-BR/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/pl/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/Newtonsoft.Json.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.runtimeconfig.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.deps.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.Build.Locator.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/ko/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/ja/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/it/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/fr/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/es/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/de/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-netcore/cs/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/zh-Hant/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/zh-Hans/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/tr/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.Threading.Tasks.Extensions.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.Runtime.CompilerServices.Unsafe.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.Numerics.Vectors.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.Memory.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.CommandLine.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.Collections.Immutable.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/System.Buffers.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/ru/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/pt-BR/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/pl/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/Newtonsoft.Json.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.IO.Redist.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.exe.config
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.exe
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.Build.Locator.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/ko/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/ja/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/it/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/fr/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/es/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/de/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/BuildHost-net472/cs/System.CommandLine.resources.dll
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/appsettings.json
PersonalFinance.Api/PersonalFinance.Api/bin/Debug/net10.0/appsettings.Development.json
PersonalFinance.Api/PersonalFinance.Api/appsettings.json
PersonalFinance.Api/PersonalFinance.Api/appsettings.Development.json
PersonalFinance.Api/PersonalFinance.Api.slnx
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/v18/DocumentLayout.json
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/v18/DocumentLayout.backup.json
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/v18/.suo
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/FileContentIndex/aee30b17-0292-47ab-a9c9-4c2bb3a18b92.vsidx
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/FileContentIndex/a4dd1454-276f-4616-ae66-230dd57957f0.vsidx
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/FileContentIndex/7de56aeb-1cd4-47bd-928f-f3c3153959d4.vsidx
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/FileContentIndex/49c78b28-8275-4b97-8d57-7c20c585a77b.vsidx
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/FileContentIndex/4028d7f3-5b64-4021-a2c5-2a7934737489.vsidx
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/DesignTimeBuild/.dtbcache.v2
PersonalFinance.Api/.vs/PersonalFinance.Api.slnx/config/applicationhost.config
PersonalFinance.Api/PersonalFinance.Api/finance.db-shm
PersonalFinance.Api/PersonalFinance.Api/finance.db-wal
PersonalFinance.Api/PersonalFinance.Api/Migrations/AppDbContextModelSnapshot.cs
PersonalFinance.Api/PersonalFinance.Api/Migrations/20260528181348_InitialCreate.cs
PersonalFinance.Api/PersonalFinance.Api/Migrations/20260528181348_InitialCreate.Designer.cs
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/ApiEndpoints.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/apphost.exe
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/compressed/rym7gm9o7i-{0}-at1yjxz83c-at1yjxz83c.gz
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/EndpointInfo/PersonalFinance.Api.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/EndpointInfo/PersonalFinance.Api.OpenApiFiles.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/Personal.8F3EDBFE.Up2Date
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.AssemblyInfo.cs
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.AssemblyInfoInputs.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.assets.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.csproj.AssemblyReference.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.csproj.CoreCompileInputs.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.csproj.FileListAbsolute.txt
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.dll
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.GeneratedMSBuildEditorConfig.editorconfig
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.genruntimeconfig.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.GlobalUsings.g.cs
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.MvcApplicationPartsAssemblyInfo.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.pdb
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.sourcelink.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/rbcswa.dswa.cache.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/ref/PersonalFinance.Api.dll
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/refint/PersonalFinance.Api.dll
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/rjimswa.dswa.cache.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.build.endpoints.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.build.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.build.json.cache
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.development.json
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/PersonalFinance.Api.MvcApplicationPartsAssemblyInfo.cs
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.removed.txt
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
PersonalFinance.Api/PersonalFinance.Api/obj/Debug/net10.0/swae.build.ex.cache
PersonalFinance.Api/PersonalFinance.Api/obj/PersonalFinance.Api.csproj.nuget.dgspec.json
PersonalFinance.Api/PersonalFinance.Api/obj/PersonalFinance.Api.csproj.nuget.g.props
PersonalFinance.Api/PersonalFinance.Api/obj/PersonalFinance.Api.csproj.nuget.g.targets
PersonalFinance.Api/PersonalFinance.Api/obj/project.assets.json
PersonalFinance.Api/PersonalFinance.Api/obj/project.nuget.cache
PersonalFinance.Api/PersonalFinance.Api/PersonalFinance.Api.csproj
PersonalFinance.Api/PersonalFinance.Api/PersonalFinance.Api.csproj.user
PersonalFinance.Api/PersonalFinance.Api/PersonalFinance.Api.http
